---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedlnIcon from "../icons/Linkedln.astro";
import GitHubIcon from "../icons/GitHub.astro";
import GMailIcon from "../icons/GMail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import Folder from "../icons/Folder.astro";
import Project from "../components/Project.astro";
---

<Layout 
title="Portfolio de Noru - Desarrollador backend"
description="Portfolio de Noru, estudiante de Ingeniería de Software en la UPC y Desarrollador Backend. Conoce más sobre mi experiencia y proyectos."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full size-12 mb-4"
				src="/profile/beru.jpg"
				alt="Noru photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola, soy Noru <a
					href="https://www.linkedin.com/in/eduardo-chero-emé-a9854a184"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Dame Chamba :'v</Badge>
				</a>
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap max-w-[700px] lg:text-2xl">
				Estudiante de la carrera de Ingeniería de Software en la
				Universidad Peruana de Ciencias aplicadas (UPC) y
				<span class="text-yellow-200/90 opacity-80">
					Desarrollador Web Backend.
				</span> Actualmente me encuentro en la búsqueda de una oportunidad
				laboral en el área de Desarrollo de Software.
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/eduardo-chero-emé-a9854a184">
					<LinkedlnIcon class="size-4 md:size-6" />
					Linkedln
				</SocialPill>
				<SocialPill href="https://github.com/Ednoru">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:eduardochero08@gmail.com">
					<GMailIcon class="size-4 md:size-6" />
					eduardochero08@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
				<Briefcase class="size-8" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
				<Folder class="size-8" />
				Proyectos
			</h2>
			<Project />
		</SectionContainer>
	</main>
</Layout>
